{
    "parser": "babel-eslint",
    "plugins": [
      "prettier",
      "react"
    ],
    "extends": [
      "prettier",
      "prettier/react"
    ],
    "rules": {
      "prettier/prettier": "error"
    }
  }