rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /people/{personID} {
      function hasValidData(){
        return request.resource.data.fullName is string 
          && request.resource.data.email is string
          && request.resource.data.timeStamp is timestamp
          && request.resource.data.token is string
      }

      allow create: if hasValidData();
      allow read: if false;
    }
  }
}
