// Override default variables before the import
// $body-bg: #eaf4ec;
$text-color: #212529;
$link-color: #212529;
$primary: #da0404;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
