// Override default variables before the import
// $body-bg: #eaf4ec;
// Import Bootstrap and its default variables
$text-color: #777777;
$link-color: #212529;
$primary: #383b41;
@import '~bootstrap/scss/bootstrap.scss';

// :root {
//   --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
//   --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
//   --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
//   --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
//   --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
//   --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
//   --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
//   --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
// }

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #root {
      height: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: 'Playfair Display';
    }
  }
}
